.main-panel {
  padding: 30px;
  overflow-y: scroll;

  .divide-in-two {
    display: grid;
    grid-template-columns: auto 15px auto;
    padding: 15px;
  }

  .card.minimize {
    height: 35px;
    overflow: hidden;
  }
  .card {
    box-shadow: 0 0 13px 0px rgba($color: #000000, $alpha: 0.1);
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    .seperator {
      border-bottom: 1.5px solid #e5e7eb;
    }
    .card-title {
      text-transform: capitalize;
      padding: 15px;
      font-size: 16px;
      font-weight: 500;
    }
    @import "card-table";

    .card-form {
      // margin: 15px;
      .ahm_form-group {
        display: grid;
        margin-top: 15px;
        label {
          font-weight: 14px;
          font-weight: 500;
          color: gray;
          display: block;
        }
        input {
          margin-top: 8px;
          border-radius: 5px;
          border: 1px solid rgba($color: #000000, $alpha: 0.2);
          box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.1);
          padding: 5px 8px;
          &.error {
            border: 1px solid rgba($color: red, $alpha: 0.5);
            box-shadow: 0 0 2px 0 rgba($color: red, $alpha: 0.3);
          }
        }
      }
    }

    .actions {
      padding: 0 15px;
      padding-top: 15px;
      text-align: right;
      button {
        background-color: $primary;
        color: white;
        border-radius: 5px;
        padding: 5px 18px;
        border: none;
        cursor: pointer;
        text-transform: capitalize;
        margin-left: 15px;

        &:hover {
          transform: translate(-1px, -1px);
          box-shadow: 1px 1px 5px 0px rgba($color: #000000, $alpha: 0.5);
        }
        &:active {
          transform: translate(0px, 0px);
          box-shadow: 1px 1px 5px 0px rgba($color: #000000, $alpha: 0.5);
        }
      }
    }
  }
}
